@import "../../../mixins.scss";
.detailsBanner {
  width: 100%;
  background-color: var(--black);
  padding-top: 100px;
  margin-bottom: 50px;
  @include md {
    margin-bottom: 0;
    padding-top: 120px;
    min-height: 700px;
  }
  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    overflow: hidden;
    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #140b1e 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    @include md {
      gap: 50px;
      flex-direction: row;
    }
    .left {
      flex-shrink: 0;
      .posterImg {
        width: 100%;
        display: block;
        border-radius: 12px;
        @include md {
          max-width: 350px;
        }
      }
    }
    .right {
      color: white;
      .title {
        font-size: 28px;
        line-height: 40px;
        @include md {
          font-size: 34px;
          line-height: 44px;
        }
      }
      .subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        font-style: italic;
        opacity: 0.5;
        @include md {
          font-size: 20px;
          line-height: 28px;
        }
      }
      .genres {
        margin-bottom: 25px;
        flex-flow: row wrap;
      }
      .overview {
        margin-bottom: 25px;
        .heading {
          font-size: 24px;
          margin-bottom: 10px;
        }
        .description {
          line-height: 24px;
          @include md {
            padding-right: 100px;
          }
        }
      }

      .rating-detail {
        width: 150px;
        padding: 4px 30px;
        height: 50px;
        color: #fff;
        font-size: 34px;
        border-radius: 50px;
        background-size: 300% 100%;
        border-radius: 50px;
        position: relative;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(
          to right,
          #667eea,
          #764ba2,
          #6b8dd6,
          #8e37d7
        );
      }
      .textrate {
        margin-top: 5px;
        position: absolute;
      }
      .star {
        font-size: 25px;
        margin-right: 15px;
      }

      .playbtn button {
        position: relative;
        width: 148px;
        height: 50px;

        outline: 0;
        border: none;
        font-size: 16px;
        color: #fff;
        background-size: 300% 100%;
        border-radius: 50px;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(
          to right,
          #667eea,
          #764ba2,
          #6b8dd6,
          #8e37d7
        );
        box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

        &:hover {
          color: var(--violet);
          font-size: 16px;
          color: #fff;
          background-position: 100% 0;
          opacity: 0.9;
          box-shadow: 0 0 5px #8e37d7, 0 0 10px #8e37d7, 0 0 50px #8e37d7,
            0 0 100px #8e37d7;
        }
      }
      .playbtn button .text {
        margin-left: 30px;
      }
      .playbtn button .icon {
        position: absolute;
        font-size: 30px;
        top: 19%;
        left: 10%;
      }

      .row {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;
      }

      .info {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px 0;

        .infoItem {
          margin-right: 10px;
          display: flex;
          flex-flow: row wrap;
        }
        .text {
          margin-right: 10px;
          opacity: 0.5;
          line-height: 24px;
          &.bold {
            font-weight: 600;
            opacity: 1;
          }
        }
      }
    }
  }

  .detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    @include md {
      gap: 50px;
      flex-direction: row;
    }
    .contentWrapper {
      display: flex;
      gap: 50px;
    }
    .left {
      flex-shrink: 0;
      width: 100%;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1.5;
      @include md {
        max-width: 350px;
      }
    }
    .right {
      width: 100%;
      .row {
        width: 100%;
        height: 25px;
        margin-bottom: 20px;
        border-radius: 50px;
        &:nth-child(2) {
          width: 75%;
          margin-bottom: 50px;
        }
        &:nth-child(5) {
          width: 50%;
          margin-bottom: 50px;
        }
      }
    }
  }
}
