.circleRating {
  padding: px;
  position: relative;
  color: #333;
  .CircularProgressbar-trail {
    stroke: transparent;
    position: absolute;
  }
}
.CircularProgressbar-text {
  position: absolute;
  font-size: 35px;
  font-weight: 700;
  fill: #333;
}

.circleRating .icon {
  color: #333;
  position: absolute;
  top: -20%;
  left: 23%;
  font-size: 25px;
}
